/* defaults ---------------------------------------------------------------------- */
:focus {outline:0}
a:focus {outline:none}

html, body {
	font-family: 'robotoregular';
	height:100%;
	margin:0;
	padding:0;
}

/* fonts --------------------------------------------------------------- */
@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/Roboto-Regular-webfont.eot');
	src: url('../fonts/Roboto-Regular-webfont?#iefix') format('eot'),
	url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
	url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
	url('../fonts/Roboto-Regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'robotoregular';
		src: url('../fonts/Roboto-Regular-webfont.svg') format('svg');
	}
}

@font-face {
	font-family: 'robotobold';
	src: url('../fonts/Roboto-Bold-webfont.eot');
	src: url('../fonts/Roboto-Bold-webfont?#iefix') format('eot'),
	url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
	url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
	url('../fonts/Roboto-Bold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'robotobold';
		src: url('../fonts/Roboto-Bold-webfont.svg') format('svg');
	}
}

@font-face {
	font-family: 'robotoitalic';
	src: url('../fonts/Roboto-Italic-webfont.eot');
	src: url('../fonts/Roboto-Italic-webfont?#iefix') format('eot'),
	url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
	url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'),
	url('../fonts/Roboto-Italic-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'robotoitalic';
		src: url('../fonts/Roboto-Italic-webfont.svg') format('svg');
	}
}

@font-face {
	font-family:'adelle_rgbold';
	src: url('../fonts/adelle_bold-webfont.eot');
	src: url('../fonts/adelle_bold-webfont?#iefix') format('eot'),
	url('../fonts/adelle_bold-webfont.woff') format('woff'),
	url('../fonts/adelle_bold-webfont.ttf') format('truetype'),
	url('../fonts/adelle_bold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family:'adelle_rgbold';
		src: url('../fonts/adelle_bold-webfont.svg') format('svg');
	}
}

/* home ---------------------------------------------------------------------- */
.all {
	width:100%;
	height:100%;
	float:left;
	max-height:100%;
	height:100%;
	position:relative;
}

h2 {
	color:#6c247b;
	font-size:40px;
	font-family:'adelle_rgbold';
	padding:20px 0 0 20px;
	margin:0;
}

h2 a {
	color:#6c247b;
	text-decoration:none;
}

.euronesmysly {
	position:absolute;
	margin:-320px 0 0 -320px;
	left:50%;
	top:50%;
	width:640px;
	height:640px;
	background:url(../images/bg.png) no-repeat center 100px;
}

.euronesmysly h1 {
	color:#00654e;
	font-size:40px;
	font-family:'adelle_rgbold';
	text-align:center;
	float:left;
	width:100%;
	margin:425px 0 0 0;
}

.euronesmysly div {
	position:absolute;
	width:64px;
	height:64px;
}

.euro01 {top:0; left:50%; margin-left:-32px;}
.euro02 {top:3%; right:32%;}
.euro03 {top:10%; right:20%;}
.euro04 {top:20%; right:10%;}
.euro05 {top:32%; right:3%;}
.euro06 {top:50%; right:0; margin-top:-32px;}
.euro07 {bottom:32%; right:3%;}
.euro08 {bottom:20%; right:10%;}
.euro09 {bottom:10%; right:20%;}
.euro10 {bottom:3%; right:32%;}
.euro11 {bottom:0; left:50%; margin-left:-32px;}
.euro12 {bottom:3%; left:32%;}
.euro13 {bottom:10%; left:20%; }
.euro14 {bottom:20%; left:10%;}
.euro15 {bottom:32%; left:3%;}
.euro16 {top:50%; left:0; margin-top:-32px;}
.euro17 {top:32%; left:3%;}
.euro18 {top:20%; left:10%;}
.euro19 {top:10%; left:20%;}
.euro20 {top:3%; left:32%;}

.euronesmysly div a {
	float:left;
	position:relative;
	border-radius:50%;
	background:#00654e;
	width:64px;
	height:64px;
	color:#00654e;
	overflow:hidden;
	text-align:center;
	-webkit-transition: all 0.2s ease-in-out;
    		transition: all 0.2s ease-in-out;
}


.euronesmysly div a i {
	float:left;
	width:100%;
	text-align:center;
	color:#fff;
	font-size:38px;
	line-height:64px;
	font-family:'adelle_rgbold';
	font-style:normal;
}


.euronesmysly div a:hover {
	width:164px;
	height:164px;
	margin:-70px 0 0 -70px;
	padding:20px;
	text-decoration:none;
	color:#fff;
	z-index:100;
}

.euronesmysly div a strong {
	width:100%;
	float:left;
	font-size:17px;
	padding:0 0 10px 0;
	font-family: 'robotobold';
}

.euronesmysly div a em {
	width:100%;
	float:left;
	font-size:15px;
	font-family: 'robotoregular';
	font-style:normal;
}

.svobodni {
	position:absolute;
	bottom:10px;
	right:10px;
	cursor:pointer;
}

.svobodni img {
	cursor:pointer;
}

.euroBox {
	display:none;
}

.euroBox h2 {
	color:#fff;
	font-size:24px;
	font-family:'adelle_rgbold';
	padding:20px;
	margin:0;
}

.euroBox h3 {
	color:#fff;
	font-size:16px;
	font-family:'adelle_rgbold';
	padding:20px;
	margin:0;
}

.euroBox h4 {
	color:#fff;
	font-size:14px;
	font-family:'adelle_rgbold';
	padding:20px 20px 0 20px;
	margin:0;
}

.euroBox h5 {
	color:#fff;
	font-size:14px;
	font-family:'adelle_rgbold';
	padding:20px 20px 0 20px;
	margin:0;
}

.euroBox p {
	color:#fff;
	font-size:16px;
	line-height:24px;
	font-family: 'robotoregular';
	padding:0 20px;
	margin:0;
}

.euroBox li {
	line-height:24px;
}

.euroBox a {
	color:#fff;
}

.euroBox a:hover {
	text-decoration:none;
}

@media(min-width: 741px) and (max-width: 980px), (min-height: 611px) and (max-height: 690px) {
	.euronesmysly {
		width:500px;
		height:500px;
		margin:-250px 0 0 -250px;
		background:url(../images/bg.png) no-repeat center 100px;
		background-size:40%;
	}
	.euronesmysly h1 {
		color:#00654e;
		font-size:28px;
		font-family:'adelle_rgbold';
		text-align:center;
		float:left;
		width:100%;
		margin:325px 0 0 0;
	}
	.euro01 {top:0; left:50%; margin-left:-25px;}
	.euro02 {top:3%; right:32%;}
	.euro03 {top:10%; right:20%;}
	.euro04 {top:20%; right:10%;}
	.euro05 {top:32%; right:3%;}
	.euro06 {top:50%; right:0; margin-top:-25px;}
	.euro07 {bottom:32%; right:3%;}
	.euro08 {bottom:20%; right:10%;}
	.euro09 {bottom:10%; right:20%;}
	.euro10 {bottom:3%; right:32%;}
	.euro11 {bottom:0; left:50%; margin-left:-25px;}
	.euro12 {bottom:3%; left:32%;}
	.euro13 {bottom:10%; left:20%; }
	.euro14 {bottom:20%; left:10%;}
	.euro15 {bottom:32%; left:3%;}
	.euro16 {top:50%; left:0; margin-top:-25px;}
	.euro17 {top:32%; left:3%;}
	.euro18 {top:20%; left:10%;}
	.euro19 {top:10%; left:20%;}
	.euro20 {top:3%; left:32%;}
	.euronesmysly div {
		position:absolute;
		width:50px;
		height:50px;
	}
	.euronesmysly div a {
		float:left;
		position:relative;
		border-radius:50%;
		background:#00654e;
		width:50px;
		height:50px;
		color:#00654e;
		overflow:hidden;
		text-align:center;
		-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
	}
	.euronesmysly div a i {
		float:left;
		width:100%;
		text-align:center;
		color:#fff;
		font-size:25px;
		line-height:50px;
		font-family:'adelle_rgbold';
		font-style:normal;
	}
}

@media(min-width: 481px) and (max-width: 740px), (min-height: 491px) and (max-height: 610px) {
	.euronesmysly {
		width:350px;
		height:350px;
		margin:-175px 0 0 -175px;
		background:url(../images/bg.png) no-repeat center 70px;
		background-size:30%;
	}
	.euronesmysly h1 {
		color:#00654e;
		font-size:21px;
		font-family:'adelle_rgbold';
		text-align:center;
		float:left;
		width:100%;
		margin:200px 0 0 0;
	}
	.euro01 {top:0; left:50%; margin-left:-17px;}
	.euro02 {top:3%; right:32%;}
	.euro03 {top:10%; right:20%;}
	.euro04 {top:20%; right:10%;}
	.euro05 {top:32%; right:3%;}
	.euro06 {top:50%; right:0; margin-top:-17px;}
	.euro07 {bottom:32%; right:3%;}
	.euro08 {bottom:20%; right:10%;}
	.euro09 {bottom:10%; right:20%;}
	.euro10 {bottom:3%; right:32%;}
	.euro11 {bottom:0; left:50%; margin-left:-17px;}
	.euro12 {bottom:3%; left:32%;}
	.euro13 {bottom:10%; left:20%; }
	.euro14 {bottom:20%; left:10%;}
	.euro15 {bottom:32%; left:3%;}
	.euro16 {top:50%; left:0; margin-top:-17px;}
	.euro17 {top:32%; left:3%;}
	.euro18 {top:20%; left:10%;}
	.euro19 {top:10%; left:20%;}
	.euro20 {top:3%; left:32%;}
	.euronesmysly div {
		position:absolute;
		width:34px;
		height:34px;
	}
	.euronesmysly div a {
		float:left;
		position:relative;
		border-radius:50%;
		background:#00654e;
		width:35px;
		height:35px;
		color:#00654e;
		overflow:hidden;
		text-align:center;
		-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
	}
	.euronesmysly div a i {
		float:left;
		width:100%;
		text-align:center;
		color:#fff;
		font-size:18px;
		line-height:38px;
		font-family:'adelle_rgbold';
		font-style:normal;
	}
}


/* smartphone ---------------------------------------------------------------------- */

@media(max-width: 480px), (max-height: 490px) {
	
	html, body {
		height:auto;
	}
	
	.all {
		width:100%;
		float:left;
		min-height:550px;
	}

	h2 {
		color:#6c247b;
		font-size:30px;
		font-family:'adelle_rgbold';
		padding:20px 0 0 0;
		margin:0;
		text-align:center
	}
	
	.euronesmysly {
		position:absolute;
		margin:0 0 0 -150px;
		left:50%;
		top:60px;
		width:300px;
		height:300px;
		background:url(../images/bg.png) no-repeat center 70px;
		background-size:50%;
	}
	
	.euronesmysly h1 {
		color:#00654e;
		font-size:40px;
		font-family:'adelle_rgbold';
		text-align:center;
		float:left;
		width:100%;
		margin:310px 0 0 0;
	}
	
	.euronesmysly div {
		position:absolute;
		width:34px;
		height:34px;
	}
	
	.euro01 {top:0; left:50%; margin-left:-16px;}
	.euro02 {top:3%; right:32%;}
	.euro03 {top:10%; right:20%;}
	.euro04 {top:20%; right:10%;}
	.euro05 {top:32%; right:3%;}
	.euro06 {top:50%; right:0; margin-top:-16px;}
	.euro07 {bottom:32%; right:3%;}
	.euro08 {bottom:20%; right:10%;}
	.euro09 {bottom:10%; right:20%;}
	.euro10 {bottom:3%; right:32%;}
	.euro11 {bottom:0; left:50%; margin-left:-16px;}
	.euro12 {bottom:3%; left:32%;}
	.euro13 {bottom:10%; left:20%; }
	.euro14 {bottom:20%; left:10%;}
	.euro15 {bottom:32%; left:3%;}
	.euro16 {top:50%; left:0; margin-top:-16px;}
	.euro17 {top:32%; left:3%;}
	.euro18 {top:20%; left:10%;}
	.euro19 {top:10%; left:20%;}
	.euro20 {top:3%; left:32%;}

	.euronesmysly div a {
		float:left;
		position:relative;
		border-radius:50%;
		background:#00654e;
		width:34px;
		height:34px;
		color:#00654e;
		overflow:hidden;
		text-align:center;
		-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
	}
	
	
	.euronesmysly div a i {
		font-size:20px;
		line-height:34px;
		font-family:'adelle_rgbold';
	}

	.euronesmysly div a:hover {
		width:164px;
		height:164px;
		margin:-70px 0 0 -70px;
		padding:20px;
		text-decoration:none;
		color:#fff;
		z-index:100;
	}
	
	.euronesmysly div a strong {
		width:100%;
		float:left;
		font-size:17px;
		padding:40px 0 10px 0;
		font-family: 'robotobold';
	}
	
	.euronesmysly div a em {
		width:100%;
		float:left;
		font-size:15px;
		font-family: 'robotoregular';
	}
	
	.svobodni {
		position:relative;
		bottom:auto;
		right:auto;
		margin:420px 0 0 0;
		float:left;
		width: 100%;
		text-align: center;
	}

	.euroBox h2 {
		color:#fff;
		font-size:20px;
		font-family:'adelle_rgbold';
		padding:20px;
		margin:0;
		text-align:left;
	}
	
	.euroBox h3 {
		color:#fff;
		font-size:14px;
		font-family:'adelle_rgbold';
		padding:20px;
		margin:0;
	}
	
	.euroBox h4 {
		color:#fff;
		font-size:12px;
		font-family:'adelle_rgbold';
		padding:20px 20px 0 20px;
		margin:0;
	}
	
	.euroBox h5 {
		color:#fff;
		font-size:12px;
		font-family:'adelle_rgbold';
		padding:20px 20px 0 20px;
		margin:0;
	}
	
	.euroBox p {
		color:#fff;
		font-size:12px;
		line-height:14px;
		font-family: 'robotoregular';
		padding:0 20px;
		margin:0;
	}
	
	.euroBox li {
		line-height:13px;
		font-size:11px;
	}

}
